In [32]:
from selenium import webdriver
driver = webdriver.Chrome()
driver.get('https://shopee.tw/')

In [44]:
c = ';'.join(['{}={}'.format(item.get('name'), item.get('value')) for item in driver.get_cookies()])

In [45]:
token = [item.get('value') for item in driver.get_cookies() if item.get('name') == 'csrftoken'][0]

In [46]:
import requests
import json
jd = json.loads('{"item_shop_ids":[{"itemid":30348675,"adsid":0,"shopid":2101724,"campaignid":0},{"itemid":30193672,"adsid":0,"shopid":4067127,"campaignid":0},{"itemid":9866816,"adsid":0,"shopid":1249908,"campaignid":0},{"itemid":4079412,"adsid":0,"shopid":1556792,"campaignid":0},{"itemid":3326952,"adsid":0,"shopid":196610,"campaignid":0},{"itemid":29678731,"adsid":0,"shopid":4063412,"campaignid":0},{"itemid":29893101,"adsid":0,"shopid":2519614,"campaignid":0},{"itemid":4278917,"adsid":0,"shopid":1979042,"campaignid":0},{"itemid":19967138,"adsid":0,"shopid":482725,"campaignid":0},{"itemid":29027205,"adsid":0,"shopid":3458145,"campaignid":0},{"itemid":7658646,"adsid":0,"shopid":1975307,"campaignid":0},{"itemid":15614334,"adsid":0,"shopid":2896296,"campaignid":0},{"itemid":14475174,"adsid":0,"shopid":118223,"campaignid":0},{"itemid":13837697,"adsid":0,"shopid":3625341,"campaignid":0},{"itemid":3563733,"adsid":0,"shopid":1627706,"campaignid":0},{"itemid":13656164,"adsid":0,"shopid":2157465,"campaignid":0},{"itemid":7450775,"adsid":0,"shopid":2119456,"campaignid":0},{"itemid":14147967,"adsid":0,"shopid":3500523,"campaignid":0},{"itemid":2855240,"adsid":0,"shopid":1241858,"campaignid":0},{"itemid":19785078,"adsid":0,"shopid":5435363,"campaignid":0},{"itemid":26867254,"adsid":0,"shopid":3434330,"campaignid":0},{"itemid":15322004,"adsid":0,"shopid":2618335,"campaignid":0},{"itemid":15001686,"adsid":0,"shopid":4634210,"campaignid":0},{"itemid":29047156,"adsid":0,"shopid":5435363,"campaignid":0},{"itemid":15462067,"adsid":0,"shopid":2366165,"campaignid":0},{"itemid":11472312,"adsid":0,"shopid":159837,"campaignid":0},{"itemid":31053194,"adsid":0,"shopid":5356071,"campaignid":0},{"itemid":14971259,"adsid":0,"shopid":691981,"campaignid":0},{"itemid":13472705,"adsid":0,"shopid":159837,"campaignid":0},{"itemid":12209945,"adsid":0,"shopid":2382253,"campaignid":0},{"itemid":1854831,"adsid":0,"shopid":12443,"campaignid":0},{"itemid":18885271,"adsid":0,"shopid":1118225,"campaignid":0},{"itemid":2609434,"adsid":0,"shopid":1241858,"campaignid":0},{"itemid":9078614,"adsid":0,"shopid":1627706,"campaignid":0},{"itemid":18754381,"adsid":0,"shopid":4668818,"campaignid":0},{"itemid":2329695,"adsid":0,"shopid":196610,"campaignid":0},{"itemid":13547419,"adsid":0,"shopid":118223,"campaignid":0},{"itemid":2500976,"adsid":0,"shopid":196610,"campaignid":0},{"itemid":14344683,"adsid":0,"shopid":1889147,"campaignid":0},{"itemid":31003378,"adsid":0,"shopid":2450531,"campaignid":0},{"itemid":3213746,"adsid":0,"shopid":196610,"campaignid":0},{"itemid":18589831,"adsid":0,"shopid":633256,"campaignid":0},{"itemid":2407439,"adsid":0,"shopid":196610,"campaignid":0},{"itemid":15524401,"adsid":0,"shopid":2276618,"campaignid":0},{"itemid":14483747,"adsid":0,"shopid":118223,"campaignid":0},{"itemid":7501326,"adsid":0,"shopid":2118746,"campaignid":0},{"itemid":18485669,"adsid":0,"shopid":118223,"campaignid":0},{"itemid":4852403,"adsid":0,"shopid":1982863,"campaignid":0},{"itemid":15984364,"adsid":0,"shopid":4160426,"campaignid":0},{"itemid":2885334,"adsid":0,"shopid":118223,"campaignid":0}]}')
headers = {
'Referer':'https://shopee.tw/%E6%89%8B%E6%A9%9F%E5%B9%B3%E6%9D%BF%E8%88%87%E5%91%A8%E9%82%8A-cat.70',
'Cookie': c,
'x-csrftoken':token,
'User-Agent':'Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/57.0.2987.133 Safari/537.36'    
}
res = requests.post('https://shopee.tw/api/v1/items/', json = jd, headers = headers)
res

In [48]:
import pandas
df = pandas.DataFrame(res.json())
df

,attributes,brand,can_use_wholesale,catid,cb_option,cmt_count,coin_earn_items,coin_spend_cash_unit,condition,currency,...,rcount_with_image,shopid,show_discount,show_free_shipping,sold,stock,sub_catid,third_catid,videos,wholesale_tier_list
0,[],,False,70,0,1221,None,None,1,TWD,...,20,2101724,30,False,175,188,1579,5800,[],[]
1,"[{'id': 7824, 'value': '', 'is_timestamp': Fal...",,False,70,0,2442,None,None,1,TWD,...,32,4067127,0,False,231,647,1575,9366,[],[]
2,"[{'id': 7845, 'value': 'iPhone7', 'is_timestam...",,False,70,0,361,None,None,1,TWD,...,4,1249908,0,False,69,94,2611,9703,[],[]
3,"[{'id': 1344, 'value': '', 'is_timestamp': Fal...",,False,70,0,134,None,None,1,TWD,...,4,1556792,20,False,15,34,2684,5799,[],[]
4,"[{'id': 7853, 'value': 'iPhone6Plus', 'is_time...",ANYDA,False,70,0,986,None,None,1,TWD,...,7,196610,20,False,161,6260,2612,7958,[],"[{'min_count': 5, 'price': 35000000, 'max_coun..."
5,"[{'id': 1344, 'value': 'iphone', 'is_timestamp...",iphone,False,70,0,126,None,None,1,TWD,...,1,4063412,0,False,42,141,2684,5799,[],[]
6,"[{'id': 7841, 'value': '所有手機型號', 'is_timestamp...",,False,70,0,226,None,None,1,TWD,...,9,2519614,0,False,18,2577,2611,7957,[],[]
7,"[{'id': 7829, 'value': '1M', 'is_timestamp': F...",Apple,False,70,0,1758,None,None,1,TWD,...,15,1979042,50,False,468,10999941,1577,7954,"[{'duration': 60, 'video_id': 'IjQCt_XFoBdPopJ...",[]
8,"[{'id': 7841, 'value': 'iPhone 5/5s/Se iPhone ...",,False,70,0,358,None,None,1,TWD,...,9,482725,0,False,69,526,2611,7957,[],[]
9,[],,False,70,0,267,None,None,1,TWD,...,2,3458145,0,False,28,5603,1573,7949,[],[]
10,[],,False,70,0,355,None,None,5,TWD,...,4,1975307,50,False,52,12700,7981,7983,[],[]
11,"[{'id': 7845, 'value': 'i6/6s 6plus/6splus i7 ...",,False,70,0,60,None,None,1,TWD,...,3,2896296,0,True,6,384,2611,9703,[],[]
12,"[{'id': 7845, 'value': 'iPhone7Plus', 'is_time...",,True,70,0,887,None,None,1,TWD,...,1,118223,0,False,102,48518,2611,9703,[],"[{'min_count': 2, 'price': 10000000, 'max_coun..."
13,"[{'id': 7933, 'value': '', 'is_timestamp': Fal...",,False,70,0,166,None,None,5,TWD,...,34,3625341,18,False,87,14999717,1579,5800,[],[]
14,"[{'id': 7881, 'value': 'One M8', 'is_timestamp...",HTC,False,70,0,660,None,None,1,TWD,...,0,1627706,0,False,56,790,2613,7963,[],[]
15,"[{'id': 7825, 'value': '鋰鐵電池', 'is_timestamp':...",天書,False,70,0,203,None,None,1,TWD,...,1,2157465,0,False,31,68,1575,9366,[],[]
16,"[{'id': 7873, 'value': 'J7', 'is_timestamp': F...",ingel,False,70,0,163,None,None,1,TWD,...,0,2119456,0,False,26,265,2613,7961,[],[]
17,[],,False,70,0,60,None,None,1,TWD,...,0,3500523,5,False,6,318,1579,5800,[],[]
18,"[{'id': 7933, 'value': '', 'is_timestamp': Fal...",,False,70,0,587,None,None,1,TWD,...,2,1241858,0,False,137,1395,1579,5800,[],[]
19,"[{'id': 7836, 'value': '', 'is_timestamp': Fal...",,False,70,0,4126,None,None,5,TWD,...,43,5435363,20,False,2017,2349,1577,5805,[],[]
20,"[{'id': 7933, 'value': '', 'is_timestamp': Fal...",,False,70,0,374,None,None,1,TWD,...,1,3434330,8,False,84,287,1579,5800,[],[]
21,"[{'id': 7836, 'value': '', 'is_timestamp': Fal...",,False,70,0,769,None,None,1,TWD,...,17,2618335,0,False,117,8515,1577,5805,[],[]
22,"[{'id': 7829, 'value': '1M', 'is_timestamp': F...",apple,False,70,0,3925,None,None,1,TWD,...,20,4634210,40,False,5438,582762,1577,7954,"[{'duration': 42, 'video_id': 'In0CkkYiMX7ipkf...",[]
23,"[{'id': 7833, 'value': '', 'is_timestamp': Fal...",,False,70,0,963,None,None,5,TWD,...,8,5435363,20,False,311,1657,1577,7955,[],[]
24,"[{'id': 1352, 'value': 'Iphone', 'is_timestamp...",Iphone,False,70,0,132,None,None,1,TWD,...,0,2366165,0,False,33,139656,297,5796,[],[]
25,"[{'id': 7849, 'value': 'iPhone', 'is_timestamp...",APPLE iPhone 6 系列,False,70,0,271,None,None,1,TWD,...,2,159837,0,True,29,352,2611,5804,[],[]
26,"[{'id': 7841, 'value': '全型號', 'is_timestamp': ...",,True,70,0,208,None,None,1,TWD,...,0,5356071,0,False,34,264,2611,7957,[],"[{'min_count': 2, 'price': 18000000, 'max_coun..."
27,"[{'id': 7849, 'value': 'iPhone', 'is_timestamp...",iPhone,False,70,0,105,None,None,5,TWD,...,0,691981,0,False,31,35,2611,5804,[],[]
28,"[{'id': 7849, 'value': 'iPhone', 'is_timestamp...",apple,False,70,0,146,None,None,1,TWD,...,0,159837,0,False,26,424,2611,5804,[],[]
29,"[{'id': 7862, 'value': 'iPhone6/6s/6+/6s+/7/7+...",,False,70,0,367,None,None,1,TWD,...,0,2382253,0,True,59,526860,2612,5803,[],[]
30,"[{'id': 7925, 'value': '', 'is_timestamp': Fal...",,False,70,0,327,None,None,1,TWD,...,1,12443,0,False,7,36,1579,7973,"[{'duration': 28, 'video_id': 'IUICRlsWOF0GBVR...",[]
31,[],,False,70,0,85,None,None,1,TWD,...,1,1118225,0,False,3,431,2611,5804,[],[]
32,"[{'id': 1328, 'value': '', 'is_timestamp': Fal...",,False,70,0,437,None,None,1,TWD,...,2,1241858,20,False,72,1955,1575,5806,[],[]
33,"[{'id': 7881, 'value': 'Desire728', 'is_timest...",,False,70,0,506,None,None,1,TWD,...,1,1627706,0,True,66,341,2613,7963,[],[]
34,"[{'id': 7934, 'value': '', 'is_timestamp': Fal...",三星/samsung,True,70,0,247,None,None,1,TWD,...,0,4668818,0,False,46,56,2684,7975,[],"[{'min_count': 3, 'price': 8900000}]"
35,[],,True,70,0,511,None,None,1,TWD,...,5,196610,0,False,74,536,1577,7955,[],"[{'min_count': 5, 'price': 22000000, 'max_coun..."
36,"[{'id': 7845, 'value': 'iPhone7Plus', 'is_time...",,False,70,0,196,None,None,1,TWD,...,1,118223,0,False,48,79693,2611,9703,[],[]
37,"[{'id': 7845, 'value': 'iPhone7', 'is_timestam...",JLW原廠授權,False,70,0,2410,None,None,1,TWD,...,9,196610,35,False,110,1182,2611,9703,[],"[{'min_count': 5, 'price': 15000000, 'max_coun..."
38,"[{'id': 7933, 'value': '', 'is_timestamp': Fal...",,False,70,0,31,None,None,1,TWD,...,0,1889147,0,False,2,70,1579,5800,[],[]
39,"[{'id': 7897, 'value': '', 'is_timestamp': Fal...",,False,70,0,27,None,None,1,TWD,...,0,2450531,0,False,13,362,2613,5802,[],[]
40,"[{'id': 7862, 'value': '', 'is_timestamp': Fal...",,False,70,0,2043,None,None,1,TWD,...,14,196610,0,False,430,4652,2612,5803,[],[]
41,[],,False,70,0,64,None,None,2,TWD,...,0,633256,0,False,17,914,1579,5800,[],[]
42,[],,True,70,0,1024,None,None,1,TWD,...,5,196610,0,False,128,2915,2611,5804,[],"[{'min_count': 5, 'price': 8500000, 'max_count..."
43,"[{'id': 7841, 'value': 'Zenfone2 HTC M7 M8 M9+...",,False,70,0,9,None,None,1,TWD,...,1,2276618,0,False,0,553,2611,7957,[],[]
44,"[{'id': 7841, 'value': 'iPhone6S', 'is_timesta...",,False,70,0,1290,None,None,1,TWD,...,5,118223,20,False,91,58189,2611,7957,[],[]
45,[],,False,70,0,47,None,None,1,TWD,...,0,2118746,0,False,27,3,297,5796,[],[]
46,"[{'id': 7873, 'value': 'Note5', 'is_timestamp'...",,False,70,0,457,None,None,1,TWD,...,2,118223,20,False,48,119328,2613,7961,[],[]
47,"[{'id': 7862, 'value': 'iPhone7', 'is_timestam...",,True,70,0,476,None,None,1,TWD,...,1,1982863,0,False,131,6309557,2612,5803,[],"[{'min_count': 2, 'price': 4500000, 'max_count..."
48,"[{'id': 7925, 'value': '', 'is_timestamp': Fal...",,False,70,0,549,None,None,1,TWD,...,0,4160426,0,False,127,5248,1579,7973,[],[]
49,"[{'id': 7862, 'value': 'iPhone6S', 'is_timesta...",,False,70,0,1084,None,None,1,TWD,...,3,118223,0,False,196,97146,2612,5803,[],[]