In [114]:
import requests
url = 'https://mops.twse.com.tw/mops/web/ajax_t100sb15'

payload = {
'encodeURIComponent': '1',
'step': '1',
'firstin': '1',
'TYPEK': 'sii',
'RYEAR': '108' 
}

res = requests.post(url, data = payload)

In [116]:
import pandas
dfs = pandas.read_html(res.text)

In [118]:
df = dfs[0].iloc[:, [0,1,2,5,6,7]]

In [120]:
df.columns = ['產業類別', '公司代號', '公司名稱', '平均數108',  '平均數107', '中位數108']

In [123]:
df.sort_values('中位數108', ascending=False)

      產業類別  公司代號 公司名稱  平均數108  平均數107  中位數108
512   半導體業  3034   聯詠    2713  2542.0    2398
272  其他電子業  2354   鴻準    3053  2457.0    2388
344   半導體業  2454  聯發科    2647  2705.0    2339
518   半導體業  3041   揚智    2416  1641.0    2054
292   半導體業  2379   瑞昱    2100  1993.0    1819
..     ...   ...  ...     ...     ...     ...
338  通信網路業  2444   兆勁     442   468.0     360
435   觀光事業  2712  遠雄來     427   431.0     348
430   觀光事業  2702   華園     407   386.0     344
436   觀光事業  2722   夏都     386   365.0     337
24    食品工業  1235   興泰     312   342.0     332

[864 rows x 6 columns]

In [127]:
import numpy
a = (numpy.random.randn(100) * 10 + 70).astype(int)
a.mean()

69.46

In [129]:
s = pandas.Series(a)
s.median()

71.0

In [130]:
b = numpy.array([1000])

In [131]:
m = numpy.concatenate([a,b])

In [133]:
s2 = pandas.Series(m)

In [134]:
s2.median()

71.0

In [135]:
s2.mean()

78.67326732673267