In [1]:
import requests
res = requests.get('https://blob.sportslottery.com.tw/apidata/Live/Register.json')

In [3]:
jd = res.json()

In [6]:
import pandas
ary = []
for rec in jd:
    game_type = rec.get('cn')[0]
    atn = rec.get('atn')[0]
    htn = rec.get('htn')[0]
    for ms in rec.get('ms'):
        for cs in ms.get('cs'):
            win = cs[0].get('o')
            tie = cs[1].get('o')
            loss = cs[2].get('o')
    ary.append({'game_type': game_type, 'atn':atn, 'htn':htn, 'win':win, 'tie':tie, 'loss':loss})

/Users/david/.pyenv/versions/3.8.10/lib/python3.8/site-packages/pandas/compat/__init__.py:124: UserWarning: Could not import the lzma module. Your installed Python is incomplete. Attempting to use lzma compression will result in a RuntimeError.
  warnings.warn(msg)

In [7]:
df = pandas.DataFrame(ary)

In [8]:
df

  game_type     atn  htn   win   tie  loss
0       土耳其  柯西奧倫古庫  馬尼薩  2.15  3.10  2.40
1   國際賽(國家)      波蘭   法國  5.75  4.75  1.20
2   國際賽(國家)    塞內加爾  英格蘭  5.00  3.60  1.35
3   國際賽(國家)   克羅埃西亞   日本  1.85  2.95  3.00
4   國際賽(國家)      南韓   巴西  6.50  5.00  1.18
5   國際賽(國家)     西班牙  摩洛哥  1.40  3.50  5.00
6   國際賽(國家)      瑞士  葡萄牙  3.50  3.20  1.65