In [4]:
import requests
headers = {
  'user-agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_14_6) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/84.0.4147.105 Safari/537.36'  
}
res = requests.get('https://goodinfo.tw/StockInfo/StockBzPerformance.asp?STOCK_ID=2330', headers = headers)
res.encoding = 'utf-8'
#res.text

In [6]:
from bs4 import BeautifulSoup
soup = BeautifulSoup(res.text, 'lxml')
data = soup.select_one('#txtFinDetailData')

In [7]:
import pandas
dfs = pandas.read_html(data.prettify())

In [8]:
len(dfs)

2

In [9]:
dfs[0]

    0   1
0 NaN NaN