## 網路爬蟲範例

In [2]:
import requests
from bs4 import BeautifulSoup 
res = requests.get('http://esf.sh.fang.com/')
#res.text
res.encoding = 'GB2312'
soup = BeautifulSoup(res.text, 'html.parser')
for house in soup.select('.houseList .info.rel'):
    title = house.select('a')[0].text.strip()
    price = house.select('.price')[0].text.strip()
    print(title, price)

周边不会再有的价格,双南全明,轨交6号线200米,满五年 295
低于市场价50万,景观大三房,6号线,可出租1万元每月 735
直降30万,稀有带阁楼35,总使用面积100,近6号 315
精装三房 全南户型 南北通透 三天井 己搭好 业主置换急售 448
低于市场价20万,95年房子周边不会再有的价格,近和文峰 199
莱阳北小区满五 精装修45.75平米200万 低于市场30万 199
精装修送车位带地暖 满五年税少 业主出国急卖 有钥匙 随时看房 710
精装一房出售。房东急售,不靠马路,钥匙房,看房随时,价格可谈 180
新挂牌小两房,南北通透,有钥匙,精装全明送家电,随时看房 380
新出名墅联排边套,花园150平,209+100平,1000万急卖。 1000
新上房源.动迁满五,现急出售,价格低于市场价20万。有钥匙. 340
原始动迁房,,看房方便,满五税少, 精装全配.随时看房.. 270
房东现置换,因房屋产权人要出国,急售,本周必卖。。。 275
小区属于商业小区,交通,购物,就餐,方便。小孩方便。。。 280
这样的价钱就一套。就一套。可贷款。诚心出售。看房方便 260
顶楼带阁楼,房东急卖,接受置换,阁楼40平,难得的好房子。 280
低价大户型两房,紧靠8号线,景观楼层,钥匙在手,房子空关. 252
低价小户型一房,紧靠8号线,景观楼层,钥匙在手, 212
水语人家 新挂牌 有钥匙 精装修 房东忍痛割爱急售 。。。 240
瑞和新苑 新挂牌 房东在我们店定了房子,现在急卖 急售 210
环境优美 商圈成熟 品质小区 房东置换 诚心出售 南北通,全明户 213
户型正气,南北通透 8 中间楼层 房东置换 诚心出售 222
南北通透,全明户型,一梯一户,税费少,低市场价,业主诚心卖 230
新上盘,今天必卖,好房子不等人,此价格就这一间,赶快行动 202
抄底总价 交通便利 繁华路段 配套成熟 正常首付 看房随时 260
低价小户型一房,紧靠8号线,景观楼层,钥匙在手, 秒房方便 215
水语人家,房子满五,产权清晰,没有带款,有钥匙。。。 205
新出一房,虹浦新城,总高14的10.现在开始出售,本周必秒。 288
低价小户型一房,紧靠8号线,景观楼层,钥匙在手, 195
价格优惠,房型大气,通风好,采光好,地段繁华,房东善良 230

## 使用Pandas 整理資料

In [7]:
import pandas
ary = []
for house in soup.select('.houseList .info.rel'):
    title = house.select('a')[0].text.strip()
    price = house.select('.price')[0].text.strip()
    ary.append({'title':title, 'price':price})
df = pandas.DataFrame(ary)
#df
#df.to_excel('house.xlsx')

## 將資料存進資料庫

In [8]:
#將資料存進SQLIte
import sqlite3 
with sqlite3.connect('house.sqlite') as db:
    df.to_sql('house', con = db, if_exists='replace')

In [9]:
#從SQLite 讀取資料
with sqlite3.connect('house.sqlite') as db:
    df2 = pandas.read_sql_query('select * from house', con = db)
df2.head()

   index price                          title
0      0   295   周边不会再有的价格,双南全明,轨交6号线200米,满五年
1      1   735    低于市场价50万,景观大三房,6号线,可出租1万元每月
2      2   315     直降30万,稀有带阁楼35,总使用面积100,近6号
3      3   448  精装三房 全南户型 南北通透 三天井 己搭好 业主置换急售
4      4   199   低于市场价20万,95年房子周边不会再有的价格,近和文峰

## 讀取訓練資料集

In [12]:
import pandas as pd
trainset = pd.read_csv('Training50.csv', index_col=0)
trainset.columns

Index(['Creditability', 'Account.Balance', 'Duration.of.Credit..month.',
       'Payment.Status.of.Previous.Credit', 'Purpose', 'Credit.Amount',
       'Value.Savings.Stocks', 'Length.of.current.employment',
       'Instalment.per.cent', 'Sex...Marital.Status', 'Guarantors',
       'Duration.in.Current.address', 'Most.valuable.available.asset',
       'Age..years.', 'Concurrent.Credits', 'Type.of.apartment',
       'No.of.Credits.at.this.Bank', 'Occupation', 'No.of.dependents',
       'Telephone', 'Foreign.Worker'],
      dtype='object')

In [13]:
trainset.head()

,Creditability,Account.Balance,Duration.of.Credit..month.,Payment.Status.of.Previous.Credit,Purpose,Credit.Amount,Value.Savings.Stocks,Length.of.current.employment,Instalment.per.cent,Sex...Marital.Status,...,Duration.in.Current.address,Most.valuable.available.asset,Age..years.,Concurrent.Credits,Type.of.apartment,No.of.Credits.at.this.Bank,Occupation,No.of.dependents,Telephone,Foreign.Worker
497,1,3,6,2,3,2108,1,3,2,3,...,2,1,29,2,1,1,1,1,1,1
756,0,1,15,1,4,950,1,4,4,2,...,3,3,33,2,1,2,1,2,1,1
580,0,1,42,2,3,7174,4,3,4,1,...,3,3,30,2,2,1,1,1,2,1
833,0,3,36,3,4,7980,4,1,4,2,...,4,3,27,2,1,2,1,1,2,1
602,1,3,24,3,2,2028,1,3,2,2,...,2,2,30,2,2,2,1,1,1,1

In [14]:
trainset.isnull().values.any()

False

In [19]:
trainset.columns

Index(['Creditability', 'Account.Balance', 'Duration.of.Credit..month.',
       'Payment.Status.of.Previous.Credit', 'Purpose', 'Credit.Amount',
       'Value.Savings.Stocks', 'Length.of.current.employment',
       'Instalment.per.cent', 'Sex...Marital.Status', 'Guarantors',
       'Duration.in.Current.address', 'Most.valuable.available.asset',
       'Age..years.', 'Concurrent.Credits', 'Type.of.apartment',
       'No.of.Credits.at.this.Bank', 'Occupation', 'No.of.dependents',
       'Telephone', 'Foreign.Worker'],
      dtype='object')

In [39]:
cat_var = [u'Account.Balance', u'Payment.Status.of.Previous.Credit',
       u'Purpose', u'Value.Savings.Stocks',
       u'Length.of.current.employment', u'Instalment.per.cent',
       u'Sex...Marital.Status', u'Guarantors', u'Duration.in.Current.address',
       u'Most.valuable.available.asset', u'Concurrent.Credits',
       u'Type.of.apartment', u'No.of.Credits.at.this.Bank', u'Occupation',
       u'No.of.dependents', u'Telephone', u'Foreign.Worker']

num_var = [u'Duration.of.Credit..month.', u'Credit.Amount', u'Age..years.']

In [40]:
trainset[['Account.Balance']].head()

     Account.Balance
497                3
756                1
580                1
833                3
602                3

In [41]:
pd.get_dummies(trainset['Account.Balance']).head()

     1  2  3
497  0  0  1
756  1  0  0
580  1  0  0
833  0  0  1
602  0  0  1

In [42]:
train_df = trainset['Creditability']

for var in cat_var:
    train_df = pd.concat([train_df,pd.get_dummies(trainset[var])],axis=1)

train_df = pd.concat([train_df,trainset[num_var]],axis=1)

In [43]:
train_df.head()

,Creditability,1,2,3,1,2,3,1,2,3,...,1,1,2,1,2,1,2,Duration.of.Credit..month.,Credit.Amount,Age..years.
497,1,0,0,1,0,1,0,0,0,1,...,1,1,0,1,0,1,0,6,2108,29
756,0,1,0,0,1,0,0,0,0,0,...,1,0,1,1,0,1,0,15,950,33
580,0,1,0,0,0,1,0,0,0,1,...,1,1,0,0,1,1,0,42,7174,30
833,0,0,0,1,0,0,1,0,0,0,...,1,1,0,0,1,1,0,36,7980,27
602,1,0,0,1,0,0,1,0,1,0,...,1,1,0,1,0,1,0,24,2028,30

In [30]:
traintarget = train_df[['Creditability']]
trainfeature = train_df.ix[:,1:]

In [34]:
from sklearn import tree
clf = tree.DecisionTreeClassifier()
clf.fit(trainfeature, traintarget)
#traintarget

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_split=1e-07, min_samples_leaf=1,
            min_samples_split=2, min_weight_fraction_leaf=0.0,
            presort=False, random_state=None, splitter='best')

## 讀取測試資料集

In [44]:
import pandas as pd
testset = pd.read_csv('Test50.csv', index_col=0)
testset.columns

Index(['Creditability', 'Account.Balance', 'Duration.of.Credit..month.',
       'Payment.Status.of.Previous.Credit', 'Purpose', 'Credit.Amount',
       'Value.Savings.Stocks', 'Length.of.current.employment',
       'Instalment.per.cent', 'Sex...Marital.Status', 'Guarantors',
       'Duration.in.Current.address', 'Most.valuable.available.asset',
       'Age..years.', 'Concurrent.Credits', 'Type.of.apartment',
       'No.of.Credits.at.this.Bank', 'Occupation', 'No.of.dependents',
       'Telephone', 'Foreign.Worker'],
      dtype='object')

In [45]:
cat_var = [u'Account.Balance', u'Payment.Status.of.Previous.Credit',
       u'Purpose', u'Value.Savings.Stocks',
       u'Length.of.current.employment', u'Instalment.per.cent',
       u'Sex...Marital.Status', u'Guarantors', u'Duration.in.Current.address',
       u'Most.valuable.available.asset', u'Concurrent.Credits',
       u'Type.of.apartment', u'No.of.Credits.at.this.Bank', u'Occupation',
       u'No.of.dependents', u'Telephone', u'Foreign.Worker']

num_var = [u'Duration.of.Credit..month.', u'Credit.Amount', u'Age..years.']

In [46]:
test_df = testset['Creditability']

for var in cat_var:
    test_df = pd.concat([test_df,pd.get_dummies(testset[var])],axis=1)

test_df = pd.concat([test_df,trainset[num_var]],axis=1)

In [47]:
train_df['Creditability'].head()

497    1
756    0
580    0
833    0
602    1
Name: Creditability, dtype: int64

## 建立多個模型

In [48]:
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.neighbors import KNeighborsClassifier

models = []
models.append(LogisticRegression())
models.append(RandomForestClassifier(n_estimators=100, criterion='entropy'))
models.append(GradientBoostingClassifier(max_depth =4))
models.append(GaussianNB())

for model in models:
    model.fit(train_df.drop('Creditability', axis=1), train_df['Creditability'])

In [49]:
models

[LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
           intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
           penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
           verbose=0, warm_start=False),
 RandomForestClassifier(bootstrap=True, class_weight=None, criterion='entropy',
             max_depth=None, max_features='auto', max_leaf_nodes=None,
             min_impurity_split=1e-07, min_samples_leaf=1,
             min_samples_split=2, min_weight_fraction_leaf=0.0,
             n_estimators=100, n_jobs=1, oob_score=False, random_state=None,
             verbose=0, warm_start=False),
 GradientBoostingClassifier(criterion='friedman_mse', init=None,
               learning_rate=0.1, loss='deviance', max_depth=4,
               max_features=None, max_leaf_nodes=None,
               min_impurity_split=1e-07, min_samples_leaf=1,
               min_samples_split=2, min_weight_fraction_leaf=0.0,
               n_estimators=100, presort='auto', random_state=None,
               subsample=1.0, verbose=0, warm_start=False),
 GaussianNB(priors=None)]

## 繪製ROC Curve

In [38]:
%pylab inline
from sklearn.metrics import roc_curve, auc
import matplotlib.pyplot as plt
%matplotlib inline

def roc_comparison(models, X_train, X_test, y_train, y_test):
    plt.figure(figsize=(10, 10)) 
    for model in models:
        pred_scr = model.predict_proba(X_test)[:, 1]
        fpr, tpr, thresholds = roc_curve(y_test, pred_scr)
        roc_auc =  auc(fpr, tpr)
        md = str(model)
        md = md[:md.find('(')]
        plt.plot(fpr, tpr, label='ROC fold %s (auc = %0.2f)' % (md, roc_auc))
        

    plt.plot([0, 1], [0, 1], '--', color=(0.6, 0.6, 0.6))
    plt.xlim([0, 1])
    plt.ylim([0, 1])
    plt.xlabel('False Positive Rate')
    plt.ylabel('True Positive Rate')
    plt.title('Receiver operating characteristic example')
    plt.legend(loc="lower right")
    plt.show()
    
roc_comparison(models, train_df.drop('Creditability', axis=1), test_df.drop('Creditability', axis=1), train_df['Creditability'], test_df['Creditability'])

Populating the interactive namespace from numpy and matplotlib

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\magics\pylab.py:161: UserWarning: pylab import has clobbered these variables: ['var', 'title', 'clf']
`%matplotlib` prevents importing * from pylab and numpy
  "\n`%matplotlib` prevents importing * from pylab and numpy"

ValueError: Input contains NaN, infinity or a value too large for dtype('float64').

In [13]:
models[0]

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

## 儲存模型

In [15]:
from sklearn.externals import joblib
joblib.dump(models[0], 'lg.pkl') 

clf = joblib.load('lg.pkl')